$color-white: #fff;
$red: #f44336;
$color_cod_gray_approx: #191919;

$color_sunflower_approx: #ddcd22;
$color_turbo_approx: #efef00;
$color_jonquil_approx: #dfffa3;
$color_sushi_approx: #83af3f;
$color_jewel_approx: #1a8037;
$color_medium_red_violet_approx: #af3f83;
$color_wild_willow_approx: #a9cc73;

$color_zuccini_approx: #0a4a04;
$color_bottle_green_approx: #0a4a2d;

* {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
}

body {
	background: $color_cod_gray_approx;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	height: 100%;
}

html {
	height: 100%;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes timer {
	from {
		width: 100%;
		background: $color-white;
	}

	79% {
		background: $color-white;
	}

	80% {
		background: $red;
	}

	to {
		width: 0;
		background: $red;
	}
}

@keyframes scorefadeout {
	from {
		opacity: 1;
		top: 50%;
	}

	90% {
		opacity: 0.6;
	}

	to {
		top: -30%;
		opacity: 0;
	}
}

@keyframes zoomFadeIn {
	from {
		font-size: 0.3em;
		opacity: 0;
		visibility: visible;
	}

	to {
		font-size: 1.6em;
		opacity: 1;
		visibility: visible;
	}
}

#root {
	height: 100%;
	display: flex;
	align-items: center;
}

#wrapper {
	margin: auto;
	padding-bottom: 60px;
	width: 300px;

	@media (min-width: 600px) {
		width: 500px;
	}
}

#game {
	position: relative;
	margin: 30px auto 20px;
	z-index: 5;

	.explode-leave .square {
		background: none;

		transform: scale(0);

		transition: all 0.3s ease;
	}
}

button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	cursor: pointer;
	background: transparent;
	color: inherit;
	font: inherit;
	line-height: normal;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

.header {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	margin-top: 0.6em;
	width: 100%;
}

h1 {
	font-family: Helvetica Neue, Arial, sans-serif;
	padding-bottom: 0.6em;
	flex-grow: 1;
	font-size: 1.4em;
	text-align: center;
	color: $color-white;

	@media (min-width: 600px) {
		font-size: 3.2em;
		padding-bottom: 0;
		text-align: left;
	}

	span {
		color: $color_jonquil_approx;
		color: $color_sushi_approx;
		color: $color_jewel_approx;
	}
}

.header-container {
	display: flex;
}

.score-container {
	position: relative;

	+ .score-container {
		margin-left: 10px;
	}
}

.score {
	background: $color_zuccini_approx;
	padding: 10px;
	font-size: 1.2em;
	font-weight: bold;

	border-radius: 3px;
	color: $color_sunflower_approx;
	margin-top: 8px;
	text-align: center;
}

.score-header {
	color: $color_turbo_approx;
	font-size: 0.6em;
}

.moves {
	text-align: center;
	opacity: 0.3;
	transition: opacity 0.3s ease;

	&.active {
		opacity: 1;
	}

	i {
		color: $color-white;
		font-size: 80px;
	}

	&-holder {
		vertical-align: top;

		&-wrapper {
			color: $color-white;
			font-size: 16px;
			text-align: center;
			height: 40px;
			width: 60px;
			cursor: default;

			@media (min-width: 600px) {
				height: 80px;
				width: 80px;
			}
		}
	}

	&-header {
		font-size: 1em;
		font-weight: bold;

		@media (min-width: 600px) {
			font-size: 1.4em;
			margin-top: 10px;
		}
	}

	&-remaining {
		font-size: 1.2em;

		@media (min-width: 600px) {
			font-size: 2em;
		}
	}
}

.icon-holder {
	display: inline-block;
	margin: 10px;
	cursor: pointer;
	color: $color-white;
	font-size: 40px;

	@media (min-width: 600px) {
		font-size: 80px;
	}
}

.overlay {
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: -1em;
	color: $color_sunflower_approx;
	background: rgba($color_zuccini_approx, 0.9);
	right: -1em;
	padding: 1em;

	border-radius: 2em;
	position: absolute;
	min-height: 24em;
	animation-name: fadein;
	animation-duration: 0.8s;
	animation-timing-function: ease;

	user-select: none;
	width: 300px;
	z-index: 1000;

	@media (min-width: 600px) {
		min-height: 620px;
		width: 500px;

		&.overlay-high-score {
			min-height: 636px;
			padding-bottom: 0;
			justify-content: space-around;
		}

		h2 {
			font-size: 2.8em;
		}

		h3 {
			margin: 20px;
		}
	}

	h2 {
		text-align: center;
		color: $color_turbo_approx;
		font-size: 1.9em;
		margin-top: 20px;
		margin-bottom: 0.6em;
	}

	h3 {
		text-align: center;
		font-size: 1em;
		margin-top: 0.6em;

		span {
			color: $color-white;
		}
	}

	.final-score {
		color: $color-white;
		font-size: 1.6em;
	}
}

.overlay-text {
	color: $color-white;
	font-size: 1.2em;
	margin: 5px 20px 20px;
	text-align: center;

	@media (min-width: 600px) {
		font-size: 1.2em;
	}
}

.translateX {
	position: absolute;
	will-change: transform;
}

.translateY {
	will-change: transform;
}

.upright {
	.translateY {
		transition: transform 0.3s cubic-bezier(0.21, -0.61, 0.46, -0.34);
	}

	.translateX {
		transition: transform 0.3s ease;
	}
}

.sideways {
	.translateX {
		transition: transform 0.3s cubic-bezier(0.21, -0.61, 0.46, -0.34);
	}

	.translateY {
		transition: transform 0.3s ease;
	}
}

.falling {
	&.sideways {
		.translateX {
			transition: transform 0.3s ease;
		}

		.translateY {
			transition: transform 0.3s ease;
		}
	}

	&.upright {
		.translateX {
			transition: transform 0.3s ease;
		}

		.translateY {
			transition: transform 0.3s ease;
		}
	}
}

.square {
	border-radius: 25%;
	height: 96%;
	position: absolute;
	width: 96%;
}

.color-4 {
	background: $color_medium_red_violet_approx;
}

.color-3 {
	background: $color_zuccini_approx;
}

.color-2 {
	background: $color_jewel_approx;
}

.color-1 {
	background: $color_sushi_approx;
}

.color-0 {
	background: $color_sunflower_approx;
}

.rotating {
	transition: all 0.3s ease;
}

.timer {
	background: $color-white;
	border-radius: 5px;
	height: 10px;
	margin: auto;

	&-inactive {
		opacity: 0.3;
	}

	&-animation {
		animation-name: timer;
		animation-timing-function: linear;
	}
}

.btn {
	background: $color_wild_willow_approx;
	color: $color_bottle_green_approx;
	border: 3px solid $color_wild_willow_approx;

	border-radius: 6px 6px 6px 6px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	font-size: 1.125em;
	font-family: Lato, Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;
	margin: 0 0.625em;
	outline: 0 none;
	text-decoration: none;
	line-height: inherit;
	padding: 0.875em 1.125em;
	margin-bottom: 0.625em;

	transition: all 0.4s ease;

	&-wrapper {
		text-align: center;
		margin: 20px;
	}

	&.overlay-btn {
		font-size: 1.4em;
		margin: 1.5rem 0;
		padding: 1.175em 1.125em;
		text-align: center;
		width: 220px;

		> svg {
			margin-left: 0.2em;
		}
	}

	&:hover {
		background: $color_bottle_green_approx;
		border: 3px solid $color_sunflower_approx;
		color: $color_sunflower_approx;
	}
}

.highscore {
	&-wrapper {
		text-align: center;
	}

	&-table {
		list-style: none;
		display: inline-block;
		width: 260px;
		text-align: left;

		@media (min-width: 600px) {
			width: 450px;

			li {
				height: 1.4em;
			}
		}

		li {
			font-size: 1.4em;
			height: 1.2em;

			&.new-score {
				color: $color-white;
			}

			&:nth-child(1) {
				font-size: 2.2em;
				margin-bottom: 0.2em;
			}

			&:nth-child(2) {
				font-size: 1.8em;
				margin-bottom: 0.2em;
			}

			&:nth-child(3) {
				font-size: 1.6em;
				margin-bottom: 5px;
			}
		}
	}

	&-toggle {
		border: 1px dashed $color_turbo_approx;
		display: inline-block;
		margin-right: -0.1em;
		padding: 0 0.3em;
		text-align: right;
		width: 4.8em;

		&-arrow {
			display: block;
			float: left;
		}
	}

	&-input {
		text-align: center;

		input {
			background: transparent;
			color: $color-white;
			height: 60px;
			font-size: 60px;
			margin: 10px;
			padding: 0 0.2em;
			text-align: center;
			font-family: Courier New, Courier, monospace;

			@media (min-width: 600px) {
				height: 80px;
				font-size: 80px;
				margin: 20px;
				padding: 0 0.2em;
			}
		}
	}

	&-li {
		display: flex;
		justify-content: space-between;
	}

	&-place {
		color: $color_wild_willow_approx;
		width: 24px;
		display: inline-block;
	}

	&-date {
		display: none;

		@media (min-width: 600px) {
			display: block;
		}
	}

	@media (min-width: 600px) {
		&-initials {
			width: 130px;
		}

		&-score {
			text-align: left;
			flex-grow: 1;
		}
	}
}

.last-score {
	animation-duration: 0.5s;
	animation-name: scorefadeout;
	color: $color-white;
	font-size: 1.2em;
	left: 50%;
	margin-left: -50px;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100px;

	&.red {
		color: $red;
	}
}

.bonus-wrapper {
	height: 120px;

	@media (min-width: 600px) {
		height: 180px;
	}
}

.fuck-dude {
	animation-name: zoomFadeIn;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
	visibility: hidden;
}

.piece-bonus {
	animation-delay: 0.5s;
}

.total-score {
	animation-delay: 1s;
}

.next-level {
	opacity: 0;
	margin-top: 2em;
	animation-delay: 1.5s;
	animation-duration: 0.2s;

	@media (min-width: 600px) {
		margin-top: 3.5em;
	}
}

.paused-button-wrapper {
	display: block;
	text-align: center;

	&:first-of-type {
		margin-bottom: 40px;

		@media (min-width: 600px) {
			margin-bottom: 120px;
		}
	}

	.btn {
		font-size: 1.4em;
		width: 200px;
	}
}
